@model dinner.net.Models.Meal

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Meal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtendedDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtendedDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StepsToMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StepsToMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Effort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Effort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAte)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
